.pipeline {
  width: 70%;
  margin: auto;
  margin-top: 7rem;
}

.pipeline-subdata {
  font-size: 1.125rem;
  color: #070709;
  font-weight: 400;
  margin-bottom: 3rem;
}

.pipeline-glow {
  margin-top: 2rem;
  position: relative;
  border-radius: 20px;
  height: fit-content;
  overflow: hidden;
  padding-left: 72px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: auto;
  background: rgb(8, 12, 12);
  background: linear-gradient(106deg, rgba(8, 12, 12, 1) 0%, rgba(29, 47, 49, 1) 48%, rgba(13, 14, 18, 1) 83%);
}

.pipeline-experience-title {
  position: relative;
  max-width: 285px;
  margin-bottom: 2rem;
  align-items: center;
  font-size: 83px;
  font-weight: 650;
  line-height: 75.6px;
  letter-spacing: -0.02em;
  background: linear-gradient(107deg, rgb(104, 147, 166) 0%, rgba(67, 92, 103, 1) 33%, rgb(81, 89, 104) 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.integrationandMigration {
  display: flex;
  width: 70%;
  margin: auto;
}

.integrationandMigration .Integration {
  width: 40%;
  background-color: #0d0e12;
  color: white;
  margin: 2rem;
  /* border: 1px solid white; */
  font-size: 1.3rem;
}

.integrationandMigration .Migration {
  width: 40%;
  margin: 2rem;

  text-align: center;
  align-content: flex-end;
  padding: 1rem;
  font-size: 1.3rem;
  /* background: rgb(159,191,199);
background: radial-gradient(circle, rgba(159,191,199,1) 0%, rgba(13,14,18,1) 100%); */
}

.button {
  -webkit-appearance: none;


  appearance: none;
  position: relative;
  border-width: 0;
  padding: 0 8px 12px;
  min-width: 14em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
}

.button-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding: 8px 16px;
  transform: translateY(0);
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, .25);
  transition-property: transform;
  transition-duration: .2s;
  -webkit-user-select: none;
  user-select: none;
  font-size: 1.7rem;
}

.button:active .button-top {
  transform: translateY(6px);
}

.button-top::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  background-image: radial-gradient(#cd3f64, #9d3656);
  text-align: center;
  color: #fff;
  box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, .2), 0 1px 2px 1px rgba(255, 255, 255, .2);
  transition-property: border-radius, padding, width, transform;
  transition-duration: .2s;
}

.button:active .button-top::after {
  border-radius: 6px;
  padding: 0 2px;
}

.button-bottom {
  position: absolute;
  z-index: -1;
  bottom: 4px;
  left: 4px;
  border-radius: 8px / 16px 16px 8px 8px;
  padding-top: 6px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  box-sizing: content-box;
  background-color: #803;
  background-image: radial-gradient(4px 8px at 4px calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(4px 8px at calc(100% - 4px) calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(16px at -4px 0, white, transparent), radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5), inset 0 -1px 3px 3px rgba(0, 0, 0, .4);
  transition-property: border-radius, padding-top;
  transition-duration: .2s;
}

.button:active .button-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

.button-base {
  position: absolute;
  z-index: -2;
  top: 4px;
  left: 0;
  border-radius: 12px;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, .15);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, .75), inset 0 2px 2px rgba(0, 0, 0, .25);
}