.pipeline{
    width: 70%;
    margin: auto;
    margin-top: 7rem;
}
.pipeline-subdata{
    font-size: 1.125rem;
    color: #070709;
    font-weight: 400;
    margin-bottom: 3rem;
}
.pipeline-glow{
margin-top: 2rem;
  position: relative;
  border-radius: 20px;
  height: fit-content;
  overflow: hidden;
  padding-left: 72px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: auto;
  background: rgb(8,12,12);
background: linear-gradient(106deg, rgba(8,12,12,1) 0%, rgba(29,47,49,1) 48%, rgba(13,14,18,1) 83%);
}
.pipeline-experience-title{
position: relative;
  max-width: 285px;
  margin-bottom: 2rem;
  align-items: center;
  font-size: 83px;
  font-weight: 650;
  line-height: 75.6px;
  letter-spacing: -0.02em;
  background: linear-gradient(107deg, rgb(104, 147, 166) 0%, rgba(67,92,103,1) 33%, rgb(81, 89, 104) 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}