.landingPage {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.getStarted p {
  max-width: 30rem;
  padding-bottom: 1rem;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1rem;
  color: transparent;
  background: linear-gradient(107deg, rgba(255, 255, 255, 1) 0%, rgba(217, 229, 241, 1) 42%, rgba(235, 216, 207, 1) 87%);
  background-clip: text;
}

.getStarted button {
  margin-bottom: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: colors 300ms, shadow 300ms;
  color: #5e5e5e;
  cursor: pointer;
  border-radius: 9999px;
  background-color: white;
  height: 2.75rem;
  padding: 0 1.375rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: black;
  box-shadow: 0 6px 16px rgba(255, 255, 255, 0.2);
}

.getStarted button:hover {
  color: #333333;
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.4);
}

.logo-wall {
  position: relative;
  max-width: 520px;
}

.logo-wall p {
  margin-top: 3rem;
  margin-bottom: 10px;
  color: #b5b5b5;
}

.logo-wall:before {
  content: '';
  position: absolute;
  left: -40px;
  right: -40px;
  top: -10px;
  bottom: -10px;
  max-width: 100%;
  background: radial-gradient(circle, rgba(65, 80, 88, 0.3), transparent 70%);
}

.logo-wall-mask {
  display: flex;
  overflow-x: hidden;
}

.logo-list {
  display: flex;
  animation: logo-wall-animation 30s linear infinite;
}

.logo-item {
  padding: 0 15px;
}

.logo-item img {
  height: 52px;
  max-width: none;
  color: transparent;
}

@keyframes logo-wall-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.staticimg {
  margin-top: 0%;
  position: absolute;
  width: 90%;
  height: 20rem;
}

.landingPage {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.getStarted p {
  max-width: 30rem;
  padding-bottom: 1rem;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1rem;
  color: transparent;
  background: linear-gradient(107deg, rgba(255, 255, 255, 1) 0%, rgba(217, 229, 241, 1) 42%, rgba(235, 216, 207, 1) 87%);
  background-clip: text;
}

.getStarted button {
  margin-bottom: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: colors 300ms, shadow 300ms;
  color: #5e5e5e;
  cursor: pointer;
  border-radius: 9999px;
  background-color: white;
  height: 2.75rem;
  padding: 0 1.375rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: black;
  box-shadow: 0 6px 16px rgba(255, 255, 255, 0.2);
}

.getStarted button:hover {
  color: #333333;
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.4);
}

.logo-wall {
  position: relative;
  max-width: 520px;
}

.logo-wall p {
  margin-top: 3rem;
  margin-bottom: 10px;
  color: #b5b5b5;
}

.logo-wall:before {
  content: '';
  position: absolute;
  left: -40px;
  right: -40px;
  top: -10px;
  bottom: -10px;
  max-width: 100%;
  background: radial-gradient(circle, rgba(65, 80, 88, 0.3), transparent 70%);
}

.logo-wall-mask {
  display: flex;
  overflow-x: hidden;
}

.logo-list {
  display: flex;
  animation: logo-wall-animation 30s linear infinite;
}

.logo-item {
  padding: 0 15px;
}

.logo-item img {
  height: 52px;
  max-width: none;
  color: transparent;
}

@keyframes logo-wall-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.staticimg {
  margin-top: 0%;
  position: absolute;
  width: 90%;
  height: 20rem;
}
.text-container {
  width: 100%;
  margin-left: 10rem;
  margin-top: 5rem;
  padding-left: 2rem;
  height: 20rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
  color: aliceblue;
}

.text-content {
  animation: scrollText 6s infinite linear;
}

#box {
  display: flex;
  gap: 1rem;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

@keyframes border-animation {
  0% {
    border-image-source: linear-gradient(to right, #745e50, #f8fdff);
  }
  25% {
    border-image-source: linear-gradient(to bottom, #745e50, #f8fdff);
  }
  50% {
    border-image-source: linear-gradient(to left, #745e50, #f8fdff);
  }
  75% {
    border-image-source: linear-gradient(to top, #745e50, #f8fdff);
  }
  100% {
    border-image-source: linear-gradient(to right, #745e50, #f8fdff);
  }
}

.text-line {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
  padding: 0.5rem;
  border-radius: 3px;
}

.text-line:before {
  content: '';
  position: absolute;
  top: -var(--borderWidth);
  left: -var(--borderWidth);
  right: -var(--borderWidth);
  bottom: -var(--borderWidth);
  border-radius: calc(var(--borderWidth) + 1px); 
  border: var(--borderWidth) solid transparent;
  background: linear-gradient(90deg, #745e50, #f8fdff);
  background-size: 200% 200%;
  z-index: -1;
  animation: moveBorder 2s linear infinite;
}



@keyframes scrollText {
  0% { transform: translateY(0); }
  16.6% { transform: translateY(0); }
  33.3% { transform: translateY(-2rem); }
  50% { transform: translateY(-2rem); }
  66.6% { transform: translateY(-4rem); }
  83.3% { transform: translateY(-4rem); }
  100% { transform: translateY(-6rem); }
}



.grid {
  height: 800px;
  width: 800px;
  background-image: linear-gradient(to right, #0f0f10 1px, transparent 1px),
    linear-gradient(to bottom, #0f0f10 1px, transparent 1px);
  background-size: 1rem 1rem;
  background-position: center center;
  position: absolute;
  z-index: -1;
  filter: blur(1px);
}
.white,
.border,
.darkBorderBg,
.glow {
  max-height: 70px;
  max-width: 314px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  /* Border Radius */
  border-radius: 12px;
  filter: blur(3px);
}
.input {
  background-color: #010201;
  border: none;
  /* padding:7px; */
  width: 301px;
  height: 56px;
  border-radius: 10px;
  color: white;
  padding-inline: 59px;
  font-size: 18px;
}
#poda {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input::placeholder {
  color: #c0b9c0;
}

.input:focus {
  outline: none;
}

#main:focus-within > #input-mask {
  display: none;
}

#input-mask {
  pointer-events: none;
  width: 100px;
  height: 20px;
  position: absolute;
  background: linear-gradient(90deg, transparent, black);
  top: 18px;
  left: 70px;
}
#pink-mask {
  pointer-events: none;
  width: 30px;
  height: 20px;
  position: absolute;
  background: #cf30aa;
  top: 10px;
  left: 5px;
  filter: blur(20px);
  opacity: 0.8;
  /* animation:leftright 4s ease-in infinite; */
  transition: all 2s;
}
#main:hover > #pink-mask {
  /* animation: rotate 4s linear infinite; */
  opacity: 0;
}

.white {
  max-height: 63px;
  max-width: 307px;
  border-radius: 10px;
  filter: blur(2px);
}

.white::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(83deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.4);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0) 0%,
    #a099d8,
    rgba(0, 0, 0, 0) 8%,
    rgba(0, 0, 0, 0) 50%,
    #dfa2da,
    rgba(0, 0, 0, 0) 58%
  );
  /* animation: rotate 4s linear infinite; */
  transition: all 2s;
}
.border {
  max-height: 59px;
  max-width: 303px;
  border-radius: 11px;
  filter: blur(0.5px);
}
.border::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(70deg);
  position: absolute;
  width: 600px;
  height: 600px;
  filter: brightness(1.3);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    #1c191c,
    #402fb5 5%,
    #1c191c 14%,
    #1c191c 50%,
    #cf30aa 60%,
    #1c191c 64%
  );
  /* animation: rotate 4s 0.1s linear infinite; */
  transition: all 2s;
}
.darkBorderBg {
  max-height: 65px;
  max-width: 312px;
}
.darkBorderBg::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(82deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #18116a,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 50%,
    #6e1b60,
    rgba(0, 0, 0, 0) 60%
  );
  transition: all 2s;
}


#poda > .darkBorderBg::before {
  animation: rotateDarkBorderBg 4s ease-in-out infinite;
}

#poda > .glow::before {
  animation: rotateGlow 4s ease-in-out infinite;
}

#poda > .white::before {
  animation: rotateWhite 4s ease-in-out infinite;
}

#poda > .border::before {
  animation: rotateBorder 4s ease-in-out infinite;
}

@keyframes rotateDarkBorderBg {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(442deg); /* Added 360 + 82 for continuous effect */
  }
}

@keyframes rotateGlow {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(420deg); /* Added 360 + 60 for continuous effect */
  }
}

@keyframes rotateWhite {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(443deg); /* Added 360 + 83 for continuous effect */
  }
}

@keyframes rotateBorder {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(430deg); /* Added 360 + 70 for continuous effect */
  }
}



.glow {
  overflow: hidden;
  filter: blur(30px);
  opacity: 0.4;
  max-height: 130px;
  max-width: 354px;
}
.glow:before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  position: absolute;
  width: 999px;
  height: 999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  /*border color, change middle color*/
  background-image: conic-gradient(
    #000,
    #402fb5 5%,
    #000 38%,
    #000 50%,
    #cf30aa 60%,
    #000 87%
  );
  /* change speed here */
  /* animation: rotate 4s 0.3s linear infinite; */
  transition: all 2s;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(450deg);
  }
}
@keyframes leftright {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  49% {
    transform: translate(250px, 0px);
    opacity: 0;
  }
  80% {
    transform: translate(-40px, 0px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

#filter-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  max-height: 40px;
  max-width: 38px;
  height: 100%;
  width: 100%;

  isolation: isolate;
  overflow: hidden;
  /* Border Radius */
  border-radius: 10px;
  background: linear-gradient(180deg, #161329, black, #1d1b4b);
  border: 1px solid transparent;
}
.filterBorder {
  height: 42px;
  width: 40px;
  position: absolute;
  overflow: hidden;
  top: 7px;
  right: 7px;
  border-radius: 10px;
}

.filterBorder::before {
  content: "";

  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.35);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #3d3a4f,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 50%,
    #3d3a4f,
    rgba(0, 0, 0, 0) 100%
  );
  animation: rotate 4s linear infinite;
}
#main {
  position: relative;
}
#search-icon {
  position: absolute;
  left: 20px;
  top: 15px;
}
