.setupGit{
    width: 70%;
    margin: auto;
    margin-top: 25rem;
    text-align: center;
}
.setupGit .setupGit-head{
    font-size: 3rem;
    width: 60%;
    margin: auto;
    line-height: 1;
}
.setupGit .setupGit-data{
    color: #adb0b9;
    font-size: 1.3rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}
.setupGit button{
    text-align: center;
    margin-top: 3rem;
}
.btnimg{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.setupGit img{
    width: 700px;
    text-align: center;
    
}